<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef Rating Information</title>
</head>
<body>

<h1>Chef Rating Information</h1>
<p><strong>ID:</strong> {{ chef_rating.id }}</p>
<p><strong>Stars:</strong> {{ chef_rating.stars }}</p>
<p><strong>Comment:</strong> {{ chef_rating.comment }}</p>
<p><strong>Visit ID:</strong> {{ chef_rating.visit_id }}</p>
<p><strong>Chef ID:</strong> {{ chef_rating.chef_id }}</p>

</body>
</html>
