<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating Information</title>
</head>
<body>

<h1>Rating Information</h1>
<p><strong>ID:</strong> {{ rating.id }}</p>
<p><strong>Stars:</strong> {{ rating.stars }}</p>
<p><strong>Comment:</strong> {{ rating.comment }}</p>
<p><strong>Visit ID:</strong> {{ rating.visit_id }}</p>
<p><strong>Restaurant ID:</strong> {{ rating.restaurant_id }}</p>

</body>
</html>
